html, body {
    height: 100%;
    line-height: 1.5;
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
    background: #fff;  
    margin: 0;
}

h1 {
  margin: 0 0 1rem 0;
}

.top {
    position: relative;
    background-color: #ffffff;
    height: 68px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
}

#sideLeft {
    overflow-x: hidden;
    overflow-y: auto;
    top: 62px;

}

.sidebar {
    position: absolute;   
    bottom: 0;
    height: auto !important;
    background: #424F5A;
    border-top: 2px solid #f0f0f0;
    -webkit-overflow-scrolling: touch;
}

.left-menu {
    width: 242px;
    padding-right: 10px;
    padding-top: 40px;    
}

.left-menu-item {
    margin: 10px;
    margin-left: 0px;
    border: 5px solid transparent;
    height: 30px;        
}

.left-menu-icon {
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;  
    vertical-align: middle;
    margin-right: 7px;
}

.left-menu-fired {
    background-color: rgb(52,63,72);    
}

div.left-menu-state-active {
	background-color: #5E6972;    
}

div.left-menu-fired {
    border-left: 5px solid rgb(255, 149, 0);
}

.content {
    position: absolute;
    top: 78px;
    right: 0;
    bottom: 0;
    left: 236px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-top: 2px solid #f0f0f0;
}

.frameborder {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}

p {
    font-size: inherit;
}

a {
    background-color: transparent;
}

a.active {
    background-color: #4CAF50;
    color: #ffffff;
}

